@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Please Sign In To Confirm Your Email";
}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="p-1 text-center">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>