@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Register</h1>
                <p class="mb-3">You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>. Please enter the following information to finish registration.</p>
                <hr />
                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-left">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
