@{
    ViewData["Title"] = "Purchase Cancelled";
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Purchase Cancelled</h1>
                <hr>
                <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
            </div>
        </div>
    </div>
</div>



