@model IEnumerable<ASP.NET_Core_MVC_Playground.Data.Item>

@{
    ViewData["Title"] = "Checkout";
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Shopping Basket</h1>
                <small>
                    <b>
                        Make sure you use one of the "credit cards" used for testing purposes which you can find 
                        <a href="https://stripe.com/docs/checkout/quickstart#testing">here</a>
                    </b>
                </small>
                <hr>
                @foreach (var item in Model)
                {
                    <div class="row justify-content-center">
                        <div class="col-md-2 my-1">
                            <img class="img-fluid d-block" src="@item.StripeImageUrl" height="80" width="80">
                        </div>
                        <div class="col-md-4">
                            <h4 class="">@item.Name</h4>
                            <h5 class="">€@item.Price</h5>
                        </div>
                        <div class="col-md-2 my-3 pl-0">
                            <a asp-action="RemoveFromBasket" asp-controller="Item" asp-route-Id="@item.Id" class="btn btn-danger btn-block">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>


                    </div>
                }
                <form action="/create-checkout-session" method="POST">
                    <button type="submit" class="btn btn-primary">Checkout</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @{await Html.RenderPartialAsync("_CheckoutPartial"); },
}